body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
}
  
header{
    background: #fff;
    border-bottom: 3px solid goldenrod;
    margin-bottom:20px;
}

.home_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
}
  
h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}
  
p{
    padding: 0 30px;
}

.nav_links{
    display: inline;
    padding-left: 20px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.skip a{
    background: white;
    left: o;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
}

nav a:visited{
    color: black;
}

nav{
    background-color: goldenrod;
    padding: 15px 0;
    text-align: left;
}

nav a:hover{
    text-decoration: underline;
}

nav a:focus{
    text-decoration: underline;
}

.intro_blurb{
    text-align: center;
}

.grid_gallery{
    border: 3px solid black;
    width: 100%;
    margin: 15px auto;
    background-color: lightblue;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
}

.grid_gallery img{
    width:90%;
    border: 4px solid goldenrod;
}

.lb-data .lb-caption{
    font-size: 32px,
}

.card{
    border: 5px solid blue;
}


@media screen and (min-width: 700px){
    .grid_gallery{
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (min-width: 1000px){
    .grid_gallery{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

.flex_gallery{
    border: 3px solid black;
    width: 100%;
    margin: 15px auto;
    background-color: lightblue;
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.flex_gallery img{
    width: 90%;
    border: 4px solid goldenrod;
}

/* ul{
    list-style: none;
} */